/* =========================
    Variables
========================= */

// Colors
$color-primary: #7477bf;
$color-accent: #4d4c72;
$color-secondary: #81c98f;
$color-tertiary: #51b6c8;
$color-card: #f5f5f5;
$white: #fff;
$divide-line: solid 2px lightgrey;

$gap: 20px;
$nav-icon-height: 35px;

$breakpoints: (
  "med": 768px,
  "lg": 1024px,
);
