.alert {
  display: flex;
  max-width: 90%;
  font-size: 1.1rem;
  font-weight: 200;
  justify-content: space-between;
  color: $white;
  background-color: $color-primary;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  p {
    margin: 0;
  }
}

button {
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border: 0;
}

.bell {
  transform-origin: 50% 0%;
}

#bell:hover .bell {
  animation: bell-ring 0.7s ease-out forwards;
}

@keyframes bell-ring {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(7deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
