.alert {
  display: flex;
  max-width: 90%;
  font-size: 1.1rem;
  font-weight: 200;
  justify-content: space-between;
  @include roundedBox($color-primary, $white);
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  p {
    margin: 0;
  }
}

button {
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border: 0;
}
