.alert {
  @include flexBox(flex, $just: space-between);
  font-size: 1.1rem;
  font-weight: 200;
  @include roundedBox($color-primary, $white);
  padding: 0.6rem 1rem;
  margin: 0.5rem $gap;
  p {
    margin: 0;
  }
  &:first-child {
    margin-top: 1rem;
  }
  &:last-child {
    margin-bottom: 1rem;
  }
}

#notification-area {
  position: relative;
  top: 20px;
  left: 45px;
  // background-color: $white;
  margin-left: auto;
}

.notification {
  @include flexBox(flex, row, space-between);
  color: black;
  background-color: #ebebeb;
  padding: 10px;
  border: 2px solid $color-tertiary;
  border-radius: 10px;
  margin: 0 0 2px;
  &:last-of-type {
    margin-bottom: 0;
  }
  button {
    margin-left: $gap;
  }
  p {
    margin: 0;
  }
}

.hidden {
  display: none;
}

.show {
  display: flex;
}
