header {
  display: flex;
  flex-direction: column;
}

.banner {
  height: 75px;
}

.banner,
.main-nav,
.nav-item,
#profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item a {
  max-height: $nav-icon-height;
}

.banner {
  background-color: $color-primary;
}

.main-nav {
  background-color: $color-accent;
  padding: 0.8em 3em;
}

#profile {
  border-left: solid 1px #999;
  padding-left: 10px;
  margin-left: 10px;
}
