header {
  display: flex;
  flex-direction: column;
}

.banner,
.main-nav,
.nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item a {
  max-height: $nav-icon-height;
}

.banner {
  background-color: $color-primary;
}

.main-nav {
  background-color: $color-accent;
  padding: 0.8em 2em;
}

.icon {
  fill: $white;
  height: $nav-icon-height;
  width: $nav-icon-height;
}

#notification-bell {
  height: 35px;
  width: 35px;
}
