.icon {
  fill: $white;
  height: $nav-icon-height;
  width: $nav-icon-height;
}

#bell {
  height: 25px;
  width: 35px;
  margin-left: auto;
  padding: 0;
}

.profile-pic {
  max-width: 45px;
  border-radius: 50%;
}

.bell {
  transform-origin: 50% 0%;
}

#bell:hover .bell {
  animation: bell-ring 0.7s ease-out forwards;
}

@keyframes bell-ring {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(7deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.active {
  color: $white;
  background-color: $color-secondary;
}
