main {
  display: grid;
  grid-template-rows: 65px;
  grid-auto-rows: minmax(1fr, auto);
}

section {
  border-bottom: $divide-line;
}

.range {
  button {
    font-size: 1.1rem;
    padding: 0.6rem;
    border-radius: 25px;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
}
