button {
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border: 0;
}

.message-form,
.settings {
  margin: 0 $gap;
  margin-bottom: 1.5rem;
}

.input-field {
  width: 100%;
  @include roundedBox($color-card);
  padding: $gap;
  border: $divide-line;
  margin: 0.7rem 0;
  &:focus {
    @include focusBox;
  }
  &:first-child {
    margin-top: 1.5rem;
  }
}

textarea {
  overflow: auto;
  resize: none;
  height: 10rem;
}

.save-cancel {
  display: flex;
  justify-content: space-between;
  @include mq("lg") {
    margin-top: 26px;
  }
}

.btn {
  width: 48%;
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 200;
  border: 0;
  &-submit {
    width: 100%;
    margin-top: 10px;
    @include roundedBox($color-primary, $white);
  }
  &-save {
    @include roundedBox($color-primary, $white);
  }
  &-cancel {
    @include roundedBox(grey, $white);
  }
  &:focus {
    @include focusBox;
  }
}

select {
  width: 100%;
  height: 4rem;
  font-size: 1.1rem;
  padding: 1rem;
  border: $divide-line;
  margin: $gap 0;
  @include roundedBox($color-card);
  &:focus {
    @include focusBox;
  }
  @include mq("lg") {
    margin-top: 20px;
  }
}

.setting-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:first-of-type {
    margin-top: 15px;
  }
}

.switch-container {
  max-width: 120px;
  margin: 15px $gap;
  margin-left: auto;
  @include mq("med") {
    margin-right: 50%;
  }
  @include mq("lg") {
    margin-right: 30%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 47px;
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  border: 3px solid lightgrey;
  border-radius: 34px;
  transition: 0.4s;
  &::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 6px;
    bottom: 6px;
    background-color: $white;
    border: $divide-line;
    border-radius: 50%;
    transition: 0.4s;
  }
  &::after {
    position: absolute;
    content: "OFF";
    color: $white;
    top: 11px;
    left: 74px;
  }
}

input:checked + .slider {
  background-color: $color-primary;
  &:before {
    transform: translateX(73px);
  }
  &:after {
    position: absolute;
    content: "ON";
    color: $white;
    top: 11px;
    left: 11px;
  }
}

input:focus + .slider {
  box-shadow: 0 0 10px $color-accent;
}
