.chart {
  padding: 2rem 0;
  margin: auto;
  width: 90%;
  #traffic & {
    padding-top: 0px;
  }
}

.range {
  margin: 0.5rem 1rem 1rem;
  button {
    font-size: 1.1rem;
    padding: 0.6rem;
    border-radius: 25px;
    font-weight: 600;
  }
}

#userChart {
  max-height: 175px;
}

.social-card {
  display: flex;
  flex-direction: row;
  @include roundedBox($color-card);
  padding: 20px;
  border: $divide-line;
  margin: 20px;
  h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: $color-primary;
  }
  span {
    line-height: 3rem;
    height: 3rem;
    font-size: 3rem;
    font-weight: 300;
    color: #777;
  }
}

.social-numbers {
  margin-left: 20px;
}

.member-list {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.member-card {
  width: 90%;
  padding: 1.5rem 0;
  border-bottom: $divide-line;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
  img {
    margin-bottom: 0.2rem;
  }
  span {
    height: 1.1rem;
  }
  a {
    height: 1.1rem;
  }
  p {
    margin: 0;
    text-align: center;
    line-height: 1.1;
  }
}
